body {
    background-color: #4c4c4c;
    color: white;
}

.div_navegar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btBuscar {
    width: 10%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #debc60;
    background: #1b1d2a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #393b40;
}

.container1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.div_icon img{
    border-radius: 50%;
    border: solid;
    border-color: #1f1f1f;
}

.div_contexto {
    padding: 50px;
}

.div_contexto h1 {
    text-transform: uppercase;
}

.div_contexto .img_arma {
    height: 350px;
    width: 622px;
}

.div_contexto .img_splash {
    height: 450px;
    width: 615px;
    padding-left: 4%;
}

.div_card {
    border: solid;
    border-color: black;
}

.div_card img {
    height: 1200px;
    width: 375px;
}

.container2 {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.container2 .div_idle1 video{
    height: 350px;
    width: 622px;
}

.container2 .div_spin video {
    height: 350px;
    width: 622px;
}

.container2 .div_idle2 video {
    height: 350px;
    width: 622px;
}

.container3 {
    margin: 10px;
}

.container3 .div_skill3 {
    display: flex;
    border: solid #1b1d2a 20px;
    border-radius: 10%;
}

.container3 video{
    border: solid #1b1d2a 10px;
}

.container3 .div_skill3 p {
    padding-left: 5%;
    padding-right: 5%;
}

.container3 .div_skill3 video {
    height: 350px;
    width: 622px;
}

.container3 .div_skill1 {
    display: flex;
    padding-top: 5%;
}

.container3 .div_skill1 p {
    padding-left: 5%;
    padding-right: 5%;
}

.container3 .div_skill1 video {
    height: 350px;
    width: 622px;
}

.container3 .div_skill2 {
    display: flex;
    padding-top: 5%;
}

.container3 .div_skill2 p {
    padding-left: 5%;
    padding-right: 5%;
}

.container3 .div_skill2 video {
    height: 350px;
    width: 622px;
}